<a href="https://colab.research.google.com/github/ShoaibFarooqui/Deep-Learning-Challenge/blob/working/Deep_Learning_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(["EIN", "NAME"], axis=1)
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = df["APPLICATION_TYPE"].loc[df["APPLICATION_TYPE"] != "T3"]

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     7262
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
value_count_classification = df["CLASSIFICATION"].value_counts()
value_count_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
value_count_classification[value_count_classification > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_keep = ["C1000", "C2000", "C1200"]
classifications_to_replace = [classification for classification in df["CLASSIFICATION"] if classification not in classifications_to_keep]

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(df)
df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = df.drop("IS_SUCCESSFUL", axis=1).values
y = df["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()
num_input_features = len(X_train_scaled[0])
hidden_layer_1 = 80
hidden_layer_2 = 30

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units = hidden_layer_1,
                          input_dim = num_input_features,
                          activation = "relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units = hidden_layer_2,
                          activation = "relu")
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units = 1,
                          activation = "sigmoid")
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                2800

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,261
Trainable params: 5,261
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5978 - accuracy: 0.7000
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5847 - accuracy: 0.7077
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5833 - accuracy: 0.7088
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5826 - accuracy: 0.7079
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5805 - accuracy: 0.7104
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5800 - accuracy: 0.7110
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5790 - accuracy: 0.7110
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5789 - accuracy: 0.7107
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5786 - accuracy: 0.7123
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5785 - accuracy: 0.7117
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5779 - accuracy: 0.7109
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5776 - accuracy: 0.7109
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5776 - accuracy: 0.7123
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5761 - accuracy: 0.7139
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5766 - accuracy: 0.7133
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5760 - accuracy: 0.7133
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5761 - accuracy: 0.7140
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5753 - accuracy: 0.7132
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5751 - accuracy: 0.7152
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5751 - accuracy: 0.7141
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5748 - accuracy: 0.7137
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5746 - accuracy: 0.7154
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5749 - accuracy: 0.7145
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5743 - accuracy: 0.7156
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5740 - accuracy: 0.7149
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5740 - accuracy: 0.7156
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5737 - accuracy: 0.7151
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5733 - accuracy: 0.7151
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5733 - accuracy: 0.7161
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5732 - accuracy: 0.7153
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5732 - accuracy: 0.7156
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5730 - accuracy: 0.7160
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5729 - accuracy: 0.7151
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5727 - accuracy: 0.7157
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5729 - accuracy: 0.7164
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5724 - accuracy: 0.7152
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5723 - accuracy: 0.7161
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5725 - accuracy: 0.7168
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5719 - accuracy: 0.7159
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5726 - accuracy: 0.7165
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5715 - accuracy: 0.7165
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5723 - accuracy: 0.7166
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5718 - accuracy: 0.7169
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5722 - accuracy: 0.7173
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5719 - accuracy: 0.7161
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5714 - accuracy: 0.7173
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5716 - accuracy: 0.7174
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5713 - accuracy: 0.7170
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5715 - accuracy: 0.7163
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5715 - accuracy: 0.7168
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5711 - accuracy: 0.7169
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5708 - accuracy: 0.7168
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5709 - accuracy: 0.7167
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5711 - accuracy: 0.7161
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5709 - accuracy: 0.7164
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5707 - accuracy: 0.7177
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5709 - accuracy: 0.7168
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5707 - accuracy: 0.7168
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5710 - accuracy: 0.7168
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5707 - accuracy: 0.7172
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5707 - accuracy: 0.7168
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5705 - accuracy: 0.7172
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5703 - accuracy: 0.7172
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5707 - accuracy: 0.7166
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5700 - accuracy: 0.7179
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5703 - accuracy: 0.7177
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5703 - accuracy: 0.7172
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5700 - accuracy: 0.7172
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5704 - accuracy: 0.7185
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5700 - accuracy: 0.7163
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5700 - accuracy: 0.7186
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5699 - accuracy: 0.7176
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5697 - accuracy: 0.7176
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5698 - accuracy: 0.7170
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5697 - accuracy: 0.7178
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5698 - accuracy: 0.7180
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5698 - accuracy: 0.7179
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5697 - accuracy: 0.7183
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5695 - accuracy: 0.7179
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5696 - accuracy: 0.7182
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5689 - accuracy: 0.7179
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5693 - accuracy: 0.7186
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5692 - accuracy: 0.7179
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5695 - accuracy: 0.7182
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5692 - accuracy: 0.7182
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5690 - accuracy: 0.7183
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5690 - accuracy: 0.7185
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5690 - accuracy: 0.7187
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5695 - accuracy: 0.7181
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5686 - accuracy: 0.7182
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5692 - accuracy: 0.7185
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5690 - accuracy: 0.7183
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5685 - accuracy: 0.7180
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5690 - accuracy: 0.7173
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5686 - accuracy: 0.7186
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5688 - accuracy: 0.7183
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5689 - accuracy: 0.7175
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5689 - accuracy: 0.7182
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5685 - accuracy: 0.7189
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5685 - accuracy: 0.7182

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5832 - accuracy: 0.7082 - 541ms/epoch - 2ms/step
Loss: 0.5832099914550781, Accuracy: 0.7082215547561646

In [16]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharityOptimized.h5')

For this part of the assignment, you’ll write a report on the performance of the deep learning model you created for Alphabet Soup.

The report should contain the following:

Overview of the analysis: Explain the purpose of this analysis.

Results: Using bulleted lists and images to support your answers, address the following questions:

Data Preprocessing

What variable(s) are the target(s) for your model?
What variable(s) are the features for your model?
What variable(s) should be removed from the input data because they are neither targets nor features?
Compiling, Training, and Evaluating the Model

How many neurons, layers, and activation functions did you select for your neural network model, and why?
Were you able to achieve the target model performance?
What steps did you take in your attempts to increase model performance?
Summary: Summarize the overall results of the deep learning model. Include a recommendation for how a different model could solve this classification problem, and then explain your recommendation.

## Overview

Explain Purpose of this Analysis

## Results

Bullet List Images

## Data Processing

Features and Targets, What removed Comp, Train, Eval

## Neural Network Architecture

Neurons, layers, active func, why? acheived target? optmizations? Summarize results and recommend different models